body {
  width: 800px;
  font-family: 'latin_modern_sans10_regular';
  font-size: 15pt;
  text-align: justify;
  margin-bottom: 100px;
}

header {
  display: flex;
}

header h1 {
  flex-grow: 1;
  padding-left: 50px;
  font-family: 'latin_modern_roman10_bold';
}

header aside {
  flex-grow: 0;
  text-align: right;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header aside li a {
  display: block;
  /*
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 40px 40px;
  */
}

a, .word {
  color: black;
}

/*
a.email {
  background-image: url("images/email.png");
}

a.github {
  background-image: url("images/github.png");
}

a.linkedin {
  background-image: url("images/linkedin.png");
}

header ul a {
  float: left;
}
*/

section {
  position: relative;
  padding-left: 200px;
  margin-top: 40pt;
}

section:first-of-type {
  margin-top: 0px;
}

h2, h3 {
  margin: 0px;
}

h2 {
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}

.image img {
  position: absolute;
  left: 0px;
  width: 180px;
  margin: 0px;
  margin-top: 10px;
}

section p {
  text-indent: 20pt;
  margin: 0;
  color: #666;
}

h2 + p, h3 + p {
  text-indent: 0pt;
}

h3 {
  margin-top: 15pt;
  font-weight: bold;
  position: relative;
}

.word {
    background: url(images/underline.gif) bottom repeat-x;
}

.latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
  font-family: 'latin_modern_roman10_regular';
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
