body {
  width: 800px;
  font-family: 'latin_modern_sans10_regular';
}

header {
  display: flex;
}

header h1 {
  flex-grow: 1;
  align: center;
  text-align: center;
  font-family: 'latin_modern_roman10_bold';
}

header aside {
  flex-grow: 0;
  text-align: center;
}

header aside li a {
  display: block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 40px 40px;
}

a.email {
  background-image: url("images/email.png");
}

a.github {
  background-image: url("images/github.png");
}

a.spotify {
  background-image: url("images/spotify.png");
}

a.linkedin {
  background-image: url("images/linkedin.png");
}

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  float: left;
}

section {
  position: relative;
  padding-left: 200px;
  margin-top: 40pt;
  font-size: 12pt;
  text-align: justify;
}

section p {
  text-indent: 20pt;
  margin: 0;
}

section > p:first-of-type {
  text-indent: 0pt;
}

section h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  margin: 0px;
  text-align: right;
  line-height: 12pt;
}

dt {
  margin-top: 12pt;
  font-weight: bold;
  position: relative;
}

dt a {
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 0;
}

dd {
  margin-left: 0px;
  text-indent: 20pt;
}
